

.fr{
    background-color: #00000048;
    padding-top:20;
    font-size: 30px;
}
.nav {
    background-color: #ffffff00;
    text-align: center;
    font-size: 25px;
    color: #fd181870;
}

main {
    padding: 20px;
}

.up{
    position:fixed;
    top:calc(33vh);
    right:20px;
    z-index: 10000;
}
.down{
    position:fixed;
    bottom:calc(33vh);
    right:20px;
    z-index: 10000;
}
.up4{
    position:fixed;
    top:calc(50vh);
    right:20px;
    z-index: 10000;
}
.down1{
    position:fixed;
    bottom:calc(50vh);
    right:20px;
    z-index: 10000;
}
.button-container {
    position: fixed; 
    bottom: 100px;
    right: 5px; 
    display: none; 
    border-radius:  99em;
    background-color: #ff000000;
}
#scrollButton{
    margin-left: 200px;
    border: none;
    border-radius:  99em;
    background-color: #ff000000;
    width: 50px;
    height: 50px;
}
.button-container button>img{
    width: 100%;
}

.button-container button:hover {
    background-color: #555;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.light {
    background-color: #fff;
    color: #333; 
}
.dark {
    background-color: #333;
    color: #fff; 
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile-pic {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
h1 {
    text-align: center;
    color: #333;
    font-size: 45px;
}
.section {
    text-align: center;
    display: flex;
    width: 100%;
}
.section-a{
    margin-left: calc(20vw);
    width: 25%;
}
.section-b{
    margin-right: calc(20vw);
    width: 25%;
}
.section-c{
    width: 100%;
    text-align: center;
}
.section-d{
    width: 10%;
}
.section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    color: #333;
    font-size: 40px;
}
.section p {
    line-height: 1.6;
    color: #101038;
    font-size: 30px;
}
.section-c h2 {
    border-bottom: 1px solid #2b282867;
    padding-bottom: 5px;
    color: #333;
    font-size: 30px;
}
.section-c p {
    line-height: 1.6;
    color: #101038;
    font-size: 25px;
}
.skills ul {
    
    list-style: none;
    padding: 0;
}
.skills ul li {
    background: #333;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 20px;
    font-size: 20PX;
}
.contact ul {
    list-style: none;
    padding: 0;
}
.contact ul li {
    margin: 5px 0;
    color: #333;
}
footer{
    background-color: #333;
    height: 100px;
    width: 100%;
}
.footer-menu{
     float: right;
     li{
       float: left;
       margin-right: 1em;
    a{
         font-size: 26px;
               }
     }
   }
.footer-text{
    float: left;
    font-size:16;
    color: #fff;
  }
 .setting{
    background-color: #10103800;
     box-shadow: none; 
     border: 0cap;
     text-align: center;
     width: 20px;
     height: 20px;
 }
.ui-content{
    height: calc(100vw);
    background-color: #ffffff;
}
